@use './variables';
@use './mixins';

.btn {
  padding: 8px 12px;
  text-align: center;
  display: inline-block;
  background: var(--color-night);
  color: var(--color-white);
  appearance: none;
  border: 2px solid var(--color-white);
  border-radius: 2px;
  transition: all .1s linear;
  cursor: pointer;
  font-weight: bold;
  text-transform: uppercase;
  font-size: .75rem;
  &:hover {
    background: var(--color-white);
    color: var(--color-night);
  }
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem 1rem;
  @include mixins.media(mobile) {
    padding: 2rem;
  }
}

.welcome-screen {
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}

.game-screen {
  position: relative;
  width: 100vw;
  height: 100dvh;
  overflow: hidden;
  background: var(--color-arena);
}

.pov-wrapper {
  z-index: 11;
  &, .pov {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
  }
}

.game {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 9;
  transition: background-position 100ms linear;
  background: {
    image: url('../assets/snowy-backdrop.webp');
    size: cover;
    color: var(--color-arena);
    // this is updated dynamically in Game.tsx based on player cursor position
    position: var(--bg-pos-x) var(--bg-pos-y);
  }
}

.adversary {
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  z-index: 10;
  border: 1px solid var(--color-arena);
  cursor: crosshair;
}

// adversary animation directions
// these need to be improved to be more dynamic and less linear, but this is a good start
@keyframes move-up {
  0% {
    transform: translate(-50%, -50%) translateY(0);
    opacity: 1;
  }
  95% {
    transform: translate(-50%, -50%) translateY(-200px);
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes move-down {
  0% {
    transform: translate(-50%, -50%) translateY(0);
    opacity: 1;
  }
  95% {
    transform: translate(-50%, -50%) translateY(200px);
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes move-left {
  0% {
    transform: translate(-50%, -50%) translateX(0);
    opacity: 1;
  }
  95% {
    transform: translate(-50%, -50%) translateX(-200px);
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes move-right {
  0% {
    transform: translate(-50%, -50%) translateX(0);
    opacity: 1;
  }
  95% {
    transform: translate(-50%, -50%) translateX(200px);
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}