@use './variables';
@use './mixins';

.btn {
  padding: 8px 12px;
  text-align: center;
  display: inline-block;
  background: var(--color-night);
  color: var(--color-white);
  appearance: none;
  border: 2px solid var(--color-white);
  border-radius: 2px;
  transition: all .1s linear;
  cursor: pointer;
  font-weight: bold;
  text-transform: uppercase;
  font-size: .75rem;
  &:hover {
    background: var(--color-white);
    color: var(--color-night);
  }
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem 1rem;
  @include mixins.media(mobile) {
    padding: 2rem;
  }
}

.welcome-screen {
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}

.game-screen {
  position: relative;
  width: 100vw;
  height: 100dvh;
  overflow: hidden;
  transition: background-position 0s linear;
  will-change: background-position;
  background: {
    image: url('../assets/snowy-backdrop.webp');
    size: cover;
    color: var(--color-arena);
    // this is updated dynamically in Game.tsx based on player cursor position
    position: var(--bg-pos-x) var(--bg-pos-y);
  }
}

.pov-wrapper {
  z-index: 11;
  &, .pov {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
  }
  .hud {
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
    border: 1px solid var(--color-arena);
    background: var(--color-night);
    color: var(--color-white);
    padding: 1rem 1.5rem;
  }
}

.adversary {
  position: absolute;
  z-index: 10;
  cursor: crosshair;
  overflow: visible;
  svg {
    overflow: visible;
    transition: opacity .05s linear .075s;
    #head, #eyes {
      transform-origin: center center;
      transition: transform .1s cubic-bezier(0.34, 1.56, 0.64, 1);
    }
  }
  &.one {
    #head {
      transform: scale(1.1);
    }
    #eyes {
      transform: scale(2);
    }
  }
  &.two {
    #head {
      transform: scale(1.2);
    }
    #eyes {
      transform: scale(2.5);
    }
  }
  &.three {
    svg {
      opacity: 0 !important;
    }
    #head {
      transform: scale(2);
    }
    #eyes {
      transform: scale(3);
    }
  }
}