.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.color-white {
  color: var(--color-white);
}
.color-black {
  color: var(--color-black);
}
.color-night {
  color: var(--color-night);
}